@model webGimnasio.Models.ClasesDiarias

@{
    ViewData["Title"] = "Detalle de Clase";
}

<h1>Detalle</h1>

<div>
    <h4>ClasesDiarias</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesor.NombreApellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alumno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alumno.NombreApellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clase.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiaHora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaHora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Modificar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
